.game-board {
  display: flex;
  flex-direction: row;
  background-color: #2b7b3b;
  width: 1080px;
  margin: 0 auto;
}

.tableau-container {
  display: flex;
  flex-direction: row;
  background-color: #34a249;
}

.stock-container {
    display: flex;
    flex-direction: column;
}

.stock-container > *:first-child {
    flex-grow: 1;
}

.controls-container {
    padding:10px;
}
