.card {
  width: 100px;
  height: 150px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  line-height: 22px;

  position: absolute;
  left: 0;

  background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.card.up {
  background: #fff;
}

.card.up .card.up {
  top: 25px;
}

.card.up.♥,
.card.up.♦ {
  color: #AE070A;
}

.card.up.♣,
.card.up.♠ {
  color: #000;
}

.card .content {
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .content > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .bottom {
  transform: scale(-1);
}
